@import url('https://fonts.googleapis.com/css2? family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Margarine&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    font-family: "Inter", sans-serif;
    font-family: "Margarine", sans-serif;
  font-family: "Roboto", sans-serif;

} 

a {
    text-decoration: none;
}


.nav-btn svg { 
    fill: #f53b57;
    position: fixed;
    top: 5%;
    left: 5%;
    cursor: pointer;
    height: 32px;
    width: 32px;
}